<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.enfore.n4js.n4idl.roundtrip.ui.RunnerRoundTripUiExecutableExtensionFactory:com.enfore.n4js.n4idl.roundtrip.ui.RoundTripLaunchConfigurationDelegate"
            delegateDescription="Runs given selection with the N4IDL RoundTrip runner"
            delegateName="N4IDL RoundTrip Runner Launch Configuration Delegate"
            id="com.enfore.n4js.n4idl.roundtrip.ui.launchConfigurationType"
            modes="run"
            name="N4IDL RoundTrip Runner">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.enfore.n4js.n4idl.roundtrip.ui.RunnerRoundTripUiExecutableExtensionFactory:com.enfore.n4js.n4idl.roundtrip.ui.launch.RoundTripRunnerLaunchConfigurationTabGroup"
            id="com.enfore.n4js.n4idl.roundtrip.ui.launch.launchConfigurationTabGroup"
            type="com.enfore.n4js.n4idl.roundtrip.ui.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.enfore.n4js.n4idl.roundtrip.ui.RunnerRoundTripUiExecutableExtensionFactory:com.enfore.n4js.n4idl.roundtrip.ui.RoundTripRunnerLaunchShortcut"
            id="com.enfore.n4js.n4idl.roundtrip.ui.LaunchShortcut"
            label="Launch with N4IDL RoundTrip runner"
            icon="icons/roundtrip.png"
            modes="run">
         <configurationType
               id="com.enfore.n4js.n4idl.roundtrip.ui.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
                       <enablement>
                 <with
                       variable= "selection" >
                    <count
                          value= "1" >
                    </count>

                    <iterate>
                          <test
                                args="com.enfore.n4js.n4idl.roundtrip.ROUNDTRIP"
                                property="org.eclipse.n4js.runner.ui.isSupportingRunner">
                          </test>
                    </iterate>
                 </with>
              </enablement>
          </contextualLaunch>
      </shortcut>
   </extension>
 	<extension
   		point="org.eclipse.debug.ui.launchConfigurationTypeImages">
   		<launchConfigurationTypeImage
   				id=".ui.launchConfigurationTypeImage"
   				configTypeID="com.enfore.n4js.n4idl.roundtrip.ui.launchConfigurationType"
   				icon="icons/roundtrip.png">
   		</launchConfigurationTypeImage>
   	</extension>
  <extension
        point="org.eclipse.ui.views">
        <category
              id="com.enfore.n4js.n4idl.roundtrip.ui.views"
              name="RoundTrip Runner">
        </category>
        <view
              id="com.enfore.n4js.n4idl.roundtrip.ui.originalView"
              name="Original Object Graph"
              class="com.enfore.n4js.n4idl.roundtrip.ui.views.OriginalObjectGraphViewPart"
              icon="icons/roundtrip.png"
              category="com.enfore.n4js.n4idl.roundtrip.ui.views">
        </view>
        <view
              id="com.enfore.n4js.n4idl.roundtrip.ui.migratedView"
              name="Migrated Object Graph"
              class="com.enfore.n4js.n4idl.roundtrip.ui.views.MigratedObjectGraphViewPart"
              icon="icons/roundtrip.png"
              category="com.enfore.n4js.n4idl.roundtrip.ui.views">
        </view>
        <view
              id="com.enfore.n4js.n4idl.roundtrip.ui.migratedModifiedView"
              name="Migrated Modified Object Graph"
              class="com.enfore.n4js.n4idl.roundtrip.ui.views.MigratedModifiedObjectGraphViewPart"
              icon="icons/roundtrip.png"
              category="com.enfore.n4js.n4idl.roundtrip.ui.views">
        </view>
        <view
              id="com.enfore.n4js.n4idl.roundtrip.ui.roundTripView"
              name="Round Trip Object Graph"
              class="com.enfore.n4js.n4idl.roundtrip.ui.views.RoundTripObjectGraphViewPart"
              icon="icons/roundtrip.png"
              category="com.enfore.n4js.n4idl.roundtrip.ui.views">
        </view>
        <view
              id="com.enfore.n4js.n4idl.roundtrip.ui.fullView"
              name="Full Round Trip Object Graph"
              class="com.enfore.n4js.n4idl.roundtrip.ui.views.FullObjectGraphViewPart"
              icon="icons/roundtrip.png"
              category="com.enfore.n4js.n4idl.roundtrip.ui.views">
        </view>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
        <command
              id="com.enfore.n4js.n4idl.roundtrip.ui.run"
              name="Run as round-trip migration"
              defaultHandler="com.enfore.n4js.n4idl.roundtrip.ui.RunnerRoundTripUiExecutableExtensionFactory:com.enfore.n4js.n4idl.roundtrip.ui.RoundTripRunnerHandler"
              description="Runs the currently active editor as a round-trip migration scenario.">
        </command>
  </extension>
</plugin>
