<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.n4js.runner.runners">
      <runner
            class="com.enfore.n4js.n4idl.roundtrip.RoundTripRunner"
            environment="n4js-node"
            id="com.enfore.n4js.n4idl.roundtrip.ROUNDTRIP"
            name="N4IDL RoundTrip Runner">
      </runner>
   </extension>
</plugin>
